body {
  background: #ddd;
  color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*min-height: 100%;*/
	/*overflow: hidden;*/
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.no-dbl-tap-zoom {
  touch-action: manipulation;
}

.innerWindow {
  z-index: 998;
  elevation: 998;
  position: fixed;
  overflow-y: auto;
}

.functionnalButtons {
  text-align: center;
  width: 100%;
  top: 6vh;
}

.infosAndSettings {
  text-align: justify;
  width: 86%;
  left: 5.5%;
  top: 6vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  border-style: inset;
  background: #eee;
}

.button {
  border-radius: 8px;
  padding: 10px 24px;
  background-color: #5C60CF;
  color: black;
  border: none;
}
.button:hover {
  background-color: #454ACE;
  color: white;
}
.button:active {
  background-color: #5C60CF;
}

.redbutton {
  border-radius: 8px;
  padding: 10px 24px;
  background-color: #FF5757;
  color: black;
  border: none;
}
.redbutton:hover {
  background-color: #FF3C3C;
  color: white;
}
.redbutton:active {
  background-color: #FF5757;
}

.yellowbutton {
  border-radius: 8px;
  padding: 10px 24px;
  background-color: #D4D644;
  color: black;
  border: none;
}
.yellowbutton:hover {
  background-color: #C6C821;
  color: white;
}
.yellowbutton:active {
  background-color: #D4D644;
}

.noteimg:active {
  filter: invert(50%)
}

a {
  text-decoration: none;
}
a:link {
  color: #1E25FF;
}
a:visited {
  color: #1E25FF;
}
a:hover {
  color: #1AFF00;
}
a:active {
  color: #A0FF95;
}

.dummyImgs {
  height: 1px;
  width: 1px;
  position: fixed;
  bottom: -100px;
  right: -100px;
}
